<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">Login</a>
    {% endif %}
    <nav>
      <ul>
        <li><a href="{% url 'feed:feed' %}">Home</a></li>
        <li><a href="{% url 'profile' user.username %}">Profile</a></li>
        <li><a href="{% url 'post:create_post' %}">Create</a></li>
        <li><a href="{% url 'direct:index' %}">Direct</a></li>
      </ul>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
